html,
body {
  padding: 0;
  margin: 0;
  font-family: "Noto Sans KR", sans-serif;

  src: url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap");
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
